{{!Authors: Luke Regalado, Miguel Guerrero, Ilan Templa.}}

<div id="pfp-container">
    <label class="pfp-label" for="file" onclick="pfpUploadClick()">
        <span>Change Image</span>
    </label>
    <input id="pfpFileInput" type="file" name="photo" onchange="uploadProfilePicture(this.files[0])"/>
    <img id="profile-picture" alt="Profile Picture" src="{{userData.pfpURL}}">
</div>

<div class="profile-details">
    {{#if owner}}
    <img src="/images/icons/edit.png" class="edit-profile" alt="EDIT/DISKETTE Group icons created by Freepik - Flaticon" onclick="toggleEditMode()">
    {{/if}}

    <h4 id="profile-name">{{userData.name}}</h4><span id="profile-email">{{userData.email}}</span>
    <hr>
    <p id="profile-description">{{userData.description}}</p>
</div>

<div class="profile-reservations">
    <h3>User Lab Reservations</h3>
    {{#each reservations}}
    <div class="reservation-item">
        <p><strong>Room:</strong> {{room}}</p>
        <p><strong>Time:</strong> {{time}}</p>
        <p><strong>Day:</strong> {{day}}</p>
    </div>
    <hr>
    {{/each}}
</div>

<div class="search-user">
    <img src="/images/icons/search.png" class="search-user-icon" alt="SEARCH Group icons created by Freepik - Flaticon">
    <input type="text" id="user-search" placeholder="Search for users..." onkeyup="searchQuery()">
    <div id="autocomplete-user-search" class="autocomplete-user-search">
        {{#each suggestions}}
        <div class="autocomplete-item">
            <img src="{{pfpURL}}" alt="{{name}}">
            <span>{{name}}</span>
        </div>
        {{/each}}
    </div>
</div>

{{#if owner}}
<button class="delete-profile" onclick="deleteProfileBtnClick()">Delete Profile</button>
{{/if}}


<div class="delete-profile-yesno">
    <img src="/images/icons/close.png" class="close-delete-profile-yesno" alt="CLOSE Group icons created by Freepik - Flaticon" onclick="cancelDeleteProfile()">
    <h3>Delete Account?</h3>
    <div class="yesno-btn" id="no-delete" onclick="cancelDeleteProfile()">
        <p>No</p>
    </div>
    <div class="yesno-btn" id="yes-delete" onclick="deleteProfile()">
        <p>Yes</p>
    </div>
</div>

<script src="/profile.js"></script>